h1{
    color: aliceblue;
    text-align: center;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}

h2, h3{
    text-align: center;
    color: white;
}

p{
    border: 1px solid red;
    margin: 20px;
    padding: 15px;
    color: white;
    background-color: rgba(255, 0, 0, 0.6);
}

a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    margin: 10px 0;
}

a:hover{
    background-color: yellow;
    color: black;
}

body{
    background-color: aqua;
    font-family: Arial, sans-serif;
    background-image: url('/1366_2000.jpeg');
    margin: 0;
    padding: 0;
}

footer{
    background-color: #b24514;
    text-align: center;
    padding: 10px;
    color: white;
}

.firebrick{
    background-color: white;
    border: 5px solid red;
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

section{
    background-color: hotpink;
    border: 5px dashed black;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

h3{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}

.proyectos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proyectos section{
    width: 60%;
}

.proyectos a{
    text-align: center;
}